@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.shop-section{
  display: grid;
  grid-template-rows: auto auto;
}

.shop-section-title{
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 16px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.shop-section-title::before{
  display: flex;
  content: "";
  height: 8px;
  width: 8px;
  background-color: black;
}

.shop-section-products{
  display: flex;
  flex-direction: row;
  gap : 8px;
  padding : 0 16px 16px 16px;
  overflow-x: auto;  /*Allows the user to scroll and see the content that is outside shop-section-products*/
  scrollbar-width: none;
}

.card{
  display: flex;
  flex-direction: column;
  flex: 0 0 400px;
}

.product-image{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-infos{
  display: flex;
  gap: 5px;
  height: auto;
  padding: 16px 8px;
  flex-direction: column;
}

.product-brand{
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}

.product-name,.product-price{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
